.page {
    padding: 0 100px;
}

.App-logo {
    height: 50px;
}

.App-header {
    background-color: red;
    font-size: 20px;
    color: white;
    padding: 0 100px;
    height:10vh;
}

img {
    display: inline-block;
    float: left;
}

a {
    display: inline-block;
    margin: 0 10px;
    color: skyblue;
    text-shadow: 2px 2px 0 black;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
}

    a:hover {
        text-decoration: underline;
    }
.header-btn{
    background-color: bisque;
    width:100px;
    margin-left: 60px;

}
.btn-aws{
    width:auto;
    text-align:left;
}
